<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
<!--    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap.min.js"></script>
-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.4/css/datetimepicker.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script type="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.4/js/datetimepicker.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.4/js/datetimepicker.templates.js"></script>

    <script src="js/timeoption.module.js"></script>
    <script src="js/controller/timeoption.controller.js"></script>
    <script src="js/service/timeoption.service.js"></script>
  </head>

  <body ng-app="timeoptionApp" ng-controller="TimeOptionController as vm">
    <div class="container">
      <form name = "shiftForm">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label>Day(s)</label>
              <div class="row">
                <div class="col-xs-6">
                  <select ng-model="vm.shift.startDay" class="form-control" required>
                    <option></option>
                    <option ng-repeat="day in vm.days">{{day}}</option>
                  </select>
                </div>
                <div class="col-xs-6">
                  <select ng-model="vm.shift.endDay" class="form-control">
                    <option ng-repeat="day in vm.days">{{day}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label>Start Time</label>
              <span>{{ vm.shift.startTime | date:'h:mm a' }}</span>
              <datetimepicker ng-model="vm.shift.startTime" data-datetimepicker-config="{startView: 'hour', minView: 'hour'}"
                              data-before-render="vm.beforeRender($upDate, $leftDate, $rightDate)" ng-required="true"/>
            </div>
            <div class="col-sm-6">
              <label>End Time</label>
              <span>{{ vm.shift.endTime | date:'h:mm a' }}</span>
              <datetimepicker ng-model="vm.shift.endTime" data-datetimepicker-config="{startView: 'hour', minView: 'hour'}"
                              data-before-render="vm.beforeRender($upDate, $leftDate, $rightDate)" ng-required="true"/>
            </div>
          </div>
        </div>
        <p class="text-center">
          <button class="btn btn-primary btn-s-sm" ng-click="vm.addShift()"
                  ng-disabled="shiftForm.$invalid || vm.shift.endTime <= vm.shift.startTime || vm.shift.startDay == vm.shift.endDay">Add Shift</button>
        </p>
      </form>

      <br>
      <hr>
      <br>

      <div class="form-group">
        <div class="table-responsive">
          <table  class="table table-hover">
            <thead>
            <th class="text-center">Day</th>
            <th class="text-center">Time</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="shift in vm.shifts track by $index">
              <td class="text-center">{{shift.startDay}} <span ng-if="shift.endDay">-</span> {{shift.endDay}}</td>
              <td class="text-center">{{shift.startTime | date:'h:mm a'}} - {{shift.endTime | date: 'h:mm a'}}</td>
              <td><button class="btn btn-danger" ng-click="vm.removeShift($index)">Remove</button></td>
            </tr>
            <tr ng-if="vm.shifts.length == 0">
              <td colspan="12" class="text-center">No Shifts</td>
            </tr>
            </tbody>
          </table>
        </div>
        <p class="text-center">
          <button class="btn btn-success btn-s-sm" ng-click="vm.submit()" ng-disabled="vm.shifts.length == 0">Submit</button>
        </p>
      </div>

      <br/>
      <hr>
      <br/>

      <div class="form-group" ng-if="vm.dailyOperations.length > 0">
        <h3>Operating Hours</h3>
        <div class="table-responsive">
          <table  class="table table-hover">
            <thead>
              <th class="text-center">Day</th>
              <th class="text-center">Time</th>
            </thead>
            <tbody>
              <tr ng-repeat="shift in vm.dailyOperations track by $index">
                <td class="text-center">{{shift.day}}</td>
                <td class="text-center" >
                  <span ng-repeat="time in shift.intervals">
                    {{ time.startTime | date:'h:mm a' }} - {{ time.endTime | date:'h:mm a'}} <br/>
                  </span>
                  <span ng-if="shift.intervals.length == 0">Closed</span>
                </td>
                <td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
